
/*ESTILO GERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif ;
}

html{
  scroll-behavior: smooth;
}

body {
  padding-top: 100px;
  padding-left: auto;
  background-color: #000;
  height: 100vh;

}

section{
  padding-top: 100px ;
  scroll-margin-top: 100px;
}

.interface{
  max-width: 1280px;
  margin: 0 auto;
}

.flex{
  display:flex;
}

.btn-contato button{
  color:#000;
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(229, 0, 0);
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: .2s;
}

h2.titulo{
  color: #fff;
  font-size: 38px;
  text-align: center;
}

h2.titulo span{
  color: rgb(229, 0, 0);
}

button:hover, form .btn-enviar input:hover{
  box-shadow: 0px 0px 8px rgb(154, 1, 1);
  transform: scale(1.05);
}
/*ESTILO GERAL FIM*/

/*REVEAL ESTILO*/
.efeito-txt-topo, .efeito-img-topo, .titulo, .efeito-especialidades1,
.efeito-especialidades2, .efeito-especialidades3, .efeito-especialidades4,.img-sobre,.txt-sobre,
.efeito-formulario{
  visibility: hidden;
}

/*REVEAL ESTILO FIM*/

/*ESTILO CABEÇALHO*/

header.menu-fixo{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0 40px 10px #ffffff1d;
  padding: 20px 4%;
  background-color: #000000;
}

header{
  box-shadow: 0 0 40px 10px #ffffff1d;
  padding: 40px 4%; 
  display: fixed;
}



header > .interface{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

header a{
  color: #7d7d7d;
  text-decoration: none;
  display: inline-block;
  transition: .2s;
}

header nav.menu-desktop a:hover{
  color: #e9e9e9;
  transform: scale(1.05);
}

header nav ul{
  list-style-type: none;
}

header nav.menu-desktop{
  display: fixed;
}

header nav.menu-desktop ul li{
  display: inline-block;
  padding: 0 40px;
}

header .btn-contato button:hover{
  box-shadow: 0px 0px 8px rgb(154, 1, 1);
  transform: scale(1.05);
}

.overlay-menu{
  background-color: #00000071;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88888;
  display: none;
  
}

.menu-mobile{
  display: none;
}
/*ESTILO CABEÇALHO FIM*/

/* ESTILO TOPO DO SITE */

section.topo-do-site{
  padding: 40px 4%;
  
}

section .topo-do-site .flex{
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo-do-site h1{
  color: #fff;
  font-size: 42px;
  line-height: 40px;
  margin-top: 60px;
}

.topo-do-site .txt-topo-site h1 span{
  color:rgb(229, 0, 0);
}

.topo-do-site .txt-topo-site p{
  color: #fff;
  margin: 40px 0;
}

.topo-do-site .img-topo-site img{
  position: relative;
  animation: flutuar 1.5s ease-in-out infinite alternate;
}


@keyframes flutuar{
  0%{
    top:0;
  }
  100%{
    top:30px;
  }
}
/* ESTILO TOPO DO SITE FIM*/

/*ESTILO DAS ESPECIALIDADES*/

section.especialidades{
  padding: 40px 4%;
}

section.especialidades .flex{
  gap: 10px;
}

.especialidades .especialidades-box{
  color: #fff;
  padding: 40px;
  border-radius: 20px;
  transition: .2s;
  margin-top: 45px;
  cursor: pointer;
 
}

.especialidades .especialidades-box:hover{
  transform: scale(1.05);
  box-shadow: 0 0 8px #fff;
}

.especialidades .especialidades-box i{
  font-size: 70px;
  color: rgb(229, 0, 0);
}

.especialidades .especialidades-box h3{
  font-size: 28px;
  margin: 15px 0;
}

.especialidades a{
  text-decoration: none;
}

/*ESTILO DAS ESPECIALIDADES FIM*/

/*ESTILO DO SOBRE*/

section.sobre{
  background-color: #70707058;
  box-shadow: 0 20px 20px #ffffff1d ;
  padding: 40px 4%;
  transform: translateY(50px);
  animation: slideIn 1s ease-out forwards;
}

section.sobre .flex{
  align-items: center;
  gap: 60px;
}

.sobre .txt-sobre{
  color: #fff;
}

.sobre .txt-sobre h2{
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
  color: rgb(229, 0, 0);
  display: block;
}

.sobre .txt-sobre p{
  margin:20px 0;
  text-align: justify;
}

.btn-social button{
  color:#000;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: rgb(229, 0, 0);
  font-size: 22px;
  cursor: pointer;
  margin: 0 7px;
  transition: .2s;
}

/*ESTILO DO SOBRE FIM*/

/*ESTILO PROJETOS*/
section.projetos{
  padding: 40px 4%;
  justify-content: center;
}

section.projetos .titulo{
  margin-top: 40px;
  padding: 75px 4%;
}

section.projetos .flex{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  gap: 20px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}


.projetos .projeto-box{
  color: #fff;
  padding: 15px 3%;
  border-radius: 20px;
  transition: .2s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}



.projetos .projeto-box h3{
  margin-top: -50px;
  padding: 5px 10px;
  text-align: center;

}


.projetos .projeto-box img {
  width: 100%; 
  height: auto;
  border-radius: 10px; 
  
}

/*ESTILO PROJETOS FIM*/

/*ESTILO FORMULARIO*/
section.formulario{
  box-shadow: 0 0 40px 10px #ffffff1d;
  padding: 80px 4%;
}

form{
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

form input, form textarea{
  width: 100%;
  background-color: #6e6e6e45;
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
}

form textarea{
  resize: none;
  max-height: 200px;
}

form .btn-enviar{
  margin-top: 20px;
  margin-left: 190px;
  
}

form .btn-enviar input{
  width: 120px;
  background-color: rgb(229, 0, 0);
  color: #000;
  font-weight: 700;
  cursor: pointer;
  transition: .2s;
}

/*ESTILO FORMULARIO FIM*/

/*RODAPÉ*/

footer{
  padding: 60px 4%;
}

footer .flex{
  justify-content: space-between;
}

footer .line-footer{
  padding: 20px 0;
}

.borda{
  border-top: 2px solid rgb(229, 0, 0);
}

footer .line-footer p{
  padding-top: 30px;
  color: #fff;
}

footer .line-footer .licenca{
  font-size: 15px;
  text-align: center;
}

footer .line-footer p span{
  color: rgb(229, 0, 0);
}

footer .line-footer p i{
  color: rgb(229, 0, 0);
  font-size: 22px;
}

footer .line-footer p a{
  color: #fff;
  transition: 0.2s;
}
footer .line-footer p a:hover{
  color: rgb(154, 1, 1);
}

/*RODAPÉ FIM*/

@media screen and (max-width:1020px){
  /*CLASSES GERAIS*/
  html, body {
    overflow-x: hidden;
  }
  
  section,div,img{
    max-width: 100%;
    
  }
  
  .flex{
    flex-direction: column;
  }

  h2.titulo{
    font-size: 35px;
    line-height: 30px;
  }


  /*CABEÇALHO*/
  .menu-desktop, .btn-contato{
    display: none;
  }

  /*TOPO DO SITE*/

  section .topo-do-site .flex{
    gap: 40px;
  }

  .topo-do-site h1{
    color: #fff;
    font-size: 30px;
  }

  section.topo-do-site{
    padding: 20px 8%;
  }

  .topo-do-site .img-topo-site img{
    position: relative;
    width: 100%;
    height: 350px;
   
    

  }
  
  /*ESPECIALIDADES*/

  section.especialidades{
    padding: 40px 10%;
  }

  .especialidades-box{
    text-align: center;
  }

  .especialidades img{
    width: 150px;
    height: 150px;
  }

  /*SOBRE*/

  section.sobre{
    padding: 80px 8%;
  }

  .sobre .txt-sobre h2{
    font-size: 34px;
    line-height: 35px;
   text-align: center;
  }

  .btn-social{
    text-align: center;
  }

  section.sobre .flex{
    flex-direction: column-reverse;
    gap: 60px;
  }

  .img-sobre img{
    height: 290px;
    width: 255px;
  }

  /*PROJETOS*/
  section.projetos {
    text-align: center;
  }
  
  section.projetos .flex {
    display: grid;                   
    grid-template-columns: repeat(2, 1fr); 
    gap: 100px;                       
    max-width: 1200px;               
    margin: 0 auto;                  
    padding: 20px;                  
  }
  

  .projeto-box { 
    padding: 45px 3%;
    border-radius: 8px;
    overflow: hidden;                 
    flex-direction: column;           
  }
  
  .projeto-box img {
    width: 100%;                     
    height: auto;                     
  }
  
  .projetos .projeto-box h3 {
    margin-top: -20px;
    padding: 5px 10px;
    font-weight: 200;
    margin: 0;
    color: #fff;
    font-size: 18px;
    text-align: center;
    
  }
  
  

  /*FORMULARIO*/

  section.formulario .btn-enviar{
    text-align: center;
    width: 100%;
  }

 form{
 padding: 40px 8%;
 }
 
  
  /*RODAPÉ*/
  footer .flex {
    flex-direction: column;
    gap: 30px;
  }

  footer .line-footer{
    text-align: center;
  }

  form .btn-enviar{
    margin-top: 20px;
    margin-left: 25px;
    
  }
  
  /*ESTILO DO MENU MOBILE*/
.btn-abrir-menu i{
  color: rgb(229, 0, 0);
  font-size: 40px;
  
}

/*ESTILO DO MENU MOBILE*/
  .menu-mobile{
    display: block;
    position: fixed;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
  }
  
  .menu-mobile.abrir-menu{
    width: 60%;
  }
  
  .menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
  }
  
  .menu-mobile .btn-fechar{
    padding: 20px 5%;
  }
  
  .menu-mobile nav ul{
    text-align: right;
  }
  
  .menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
  }
  
  .menu-mobile nav ul li a:hover{
    background-color: rgb(229, 0, 0);
    color: #000;
  }
  
  .menu-mobile .btn-fechar i{
    color: rgb(229, 0, 0);
    font-size: 30px;
  }


} 

@media (max-width: 1024px) {
  .topo-do-site .flex {
    flex-direction: column;
    gap: 30px;
  }

  .projetos .flex {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }

  .sobre .flex {
    flex-direction: column;
    align-items: center;
  }

  .sobre .txt-sobre {
    text-align: center;
  }

  .menu-desktop {
    display: none;
  }

  .menu-mobile {
    display: block;
  }

  header.menu-fixo {
    padding: 10px 3%;
  }
  
  body {
    overflow-x: hidden; /* Bloqueia o scroll horizontal */
  }
}
